<h2 class="text-center">KONTAKT & &Ouml;FFNUNGSZEITEN</h2>
<h4 class="text-center">Beil allfälligen Fragen können Sie gerne mit uns Kontakt aufnehmen.</h4>
<br>
<div class="row">
  <div class="col-sm-7 text-center">
    <p>
      <b>Montag - Freitag</b>
      <br> 7:30 - 12:00 13:30 - 17:30
    </p>
    <p>
      <b>Samstag</b>
      <br> nach Vereinbarung
    </p>
  </div>
  <div class="col-sm-5">
    <p>
      <span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.com/maps/place/Garage+B%C3%B6siger+GmbH/@47.411689,8.153601,19z/data=!4m5!3m4!1s0x0:0x79229ba9077e056c!8m2!3d47.4117285!4d8.1535296?hl=de-DE"> Hardstrasse 22a, 5103 Wildegg</a>
    </p>
    <p>
      <span class="glyphicon glyphicon-phone"></span> 062 897 41 51</p>
    <p>
      <span class="glyphicon glyphicon-print"></span> 062 897 61 81
    </p>
    <p>
      <span class="glyphicon glyphicon-envelope"></span>
      <a href="mailto:info@boesigergmbh.ch">info@boesigergmbh.ch</a>
    </p>
  </div>
</div>
<hr>
<app-googlemaps></app-googlemaps>
