<div class="row">
  <div class="col-sm-8">
    <h2 class="mt-4">Willkommen</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reprehenderit error minima. Id ducimus, doloribus iste
      odio molestiae laudantium ex aspernatur aliquid placeat aliquam voluptatem? Unde animi doloremque saepe minima! </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nobis dicta incidunt possimus, impedit, quidem delectus
      voluptatum quos rem nisi pariatur iste beatae fugiat numquam perferendis aspernatur, totam explicabo amet.</p>

  </div>
  <div class="col-sm-4">
    <h2 class="mt-4">Kontakt</h2>
    <address>
      <strong>Garage Bösiger GmbH</strong>
      <br>Hardstrasse 22a
      <br>5103 Wildegg
    </address>
    <address>
      <abbr title="Telefon">T:</abbr> 062 897 41 51
      <br>
      <abbr title="Fax">F:</abbr> 062 897 61 81
      <br>
      <abbr title="Email">E:</abbr>
      <a href="mailto:info@boesigergmbh.ch">info@boesigergmbh.ch</a>
    </address>
  </div>
</div>
